body {
    padding: 20px;
}
#p1 {
    color: #03af03
}

.article {
    background-color: aquamarine;
    width: 800px;
    height: auto;
    text-align: center;
    padding: 10px;
}

p {
    font-size: 1.2em;
}
 h1 {
     text-align: center;
 }

 * {
     margin: 5px;
 }

 .overflow {
     width: 700px;
    height: 100px;
    overflow: hidden;
 }